# =========================
# Python (backend)
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Node (frontend)
# =========================
frontend/node_modules/

# =========================
# Vite build (por si luego haces build)
# =========================
frontend/dist/

# =========================
# Entornos y config
# =========================
.env
.env.*

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Docker (opcional)
# =========================
*.pid
